/* Diseño global */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7a1; /* Color de fondo más suave */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Barra de navegación */
.navbar {
    background-color: #ff800086;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 18px;
    padding: 12px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
background-color: gray;
}

/* Carrusel */
.carousel-item img {
    height: 400px;
    object-fit: cover;
    opacity: 0.85;
    transition: opacity 0.5s ease;
    border-radius: 8px; /* Bordes redondeados en las imágenes */
}

.carousel-item img:hover {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #007bff;
}

/* Formulario */
form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #e1f5fe;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form input:focus {
    border-color: #007bff;
    outline: none;
}

