/* Barra de navegación */
.navbar {
    background-color: #ff800086;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 18px;
    padding: 12px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
background-color: gray;
}

  
  .mauro {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .testimonios {
    text-align: center;
    padding: 20px;
  }
  
  .testimonio-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .testimonio {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  .testimonio p {
    font-size: 14px;
    color: #555;
  }
  
  .testimonio h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
  }
  
  .testimonio img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .testimonio.show {
    transform: translateY(0);
    opacity: 1;
  }
  